/* Structure */
body {
  position: relative;
  padding-top: 20px;
  /* background: url(../img/my_background_image.png) repeat center center fixed; */
  background-position: 0 40px;
}
#response {
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
}

/* Header */
.header {
  position: relative;
  margin-bottom: 10px;
}
.header h1 {
  margin-bottom: 9px;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
}
#title {
  color: #317EAC;
  text-decoration: none;
}
#title:hover {
  color: #317EAC;
  text-decoration: none;
}

/* Forms */
.form-inline .controls,
.form-inline .control-group { display:inline; }

/* Footer */
.footer {
  margin-top: 35px;
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5;
}
.footer p {
  margin-bottom: 0;
  color: #555;
}

/* Misc */
.nohighlight {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
#legend {
  display: block;
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  color: #317EAC;
  font-weight: bold;
  font-size: 21px;
  line-height: 40px;
}
#testfile {
  padding: 0px 1px;
}
#userip {
  color: #555;
  text-decoration: none;
}
#userip:hover {
  color: #555;
  text-decoration: none;
}